body {
    margin: 60px auto;
    width: 70%;
    max-width: 1000px;
    background-color: #f6f6f6;
}

h1, h3, ul, p , a{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 3em;
    text-align: center;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

footer {
    font-size: 1.5em;
    display: flex;
}
footer div {
    flex: 1;
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    text-transform: uppercase;
}
.img-circle {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#parent {
  display: flex;
}
#parent div{
  background: white;
}
.textbox {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
}
#about, #email {
  margin-right: 10px;
}
#education, #resume {
  margin-left: 10px;
}
#github {
  margin: 0px 10px 0px 10px;
}
